# Database
DATABASE_URL=postgresql+asyncpg://postgres:your_postgres_password@db:5432/sportcenter

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=sportcenter

# Security
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
SECRET_KEY=your_super_secret_key_here
ALGORITHM=HS256

# Redis
REDIS_URL=redis://:your_redis_password@redis:6379/0
REDIS_PASSWORD=your_redis_password
OTP_EXPIRE_SECONDS=120
OTP_LENGTH=6
CACHE_EXPIRE_SECONDS=900